:root {
    color-scheme: light dark;

    --primary-color: #155263;
    --secondary-color: #0e3b47;
  
    --light-bg: #b3d5df;
    --dark-bg: #0a2a33;
    --dark-header-bg: var(--primary-color);

    --button-primary: #124752;
    --button-secondary: #2c7783;
    --button-text: #facc57;
}
/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #facc57;
    --secondary-color: #fd8e26;

    --light-bg: #0a2a33;
    --dark-bg: #b3d5df;
    --dark-header-bg: var(--primary-color);

    --button-primary: #2c7783;
    --button-secondary: #124752;
  }
}

body {
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: var(--light-bg); /* Lighter body background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header {
    margin-inline: 1rem;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--primary-color);
    margin-block-start: 0;
    margin-block-end: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
    
    @media(min-width: 600px) {
        font-size: 4.8rem;
    }
}

h2 {
    font-size: 1.8rem;
}

a {
    color: var(--secondary-color);
    font-weight: 500;
    transition: color 0.3s;
    font-weight: 700;
}
a:hover, a:focus-visible {
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

nav .btn {
    text-decoration: none;
    color: var(--button-text);
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s;
    background: linear-gradient(to bottom, var(--button-secondary), var(--button-primary));
    border: none;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: inherit;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    outline: 2px solid transparent;
    @media screen and (max-width: 600px) {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }
}

nav .btn:hover, nav .btn:focus-visible {
    background: linear-gradient(to bottom, var(--button-primary), var(--button-secondary));
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    outline: 2px solid var(--button-secondary);
}

dialog {
    background-color: var(--light-bg);
    color: var(--primary-color);
    border-radius: 8px;
    border: none;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 80%;
    max-width: 500px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  filter: blur(4px);
}

dialog h2 {
    margin: 0 0 .6rem 0;
    color: var(--secondary-color);
}

.dialog-body {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

dialog button {
    background-color: var(--button-secondary);
    color: var(--button-text);
    outline: 2px solid transparent;
    border: none;
    border-radius: 4px;
    padding: 0.4rem 1rem;
    transition: all 0.3s;
    &:hover, &:focus-visible {
        background-color: var(--button-primary);
        outline: 2px solid var(--button-secondary);
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }
}
